/* ==========================================================================
   NAVIGATION
   ========================================================================== */

   :root {
    --navbar-background-color: #789DBC; /* Define navbar background color */
}

.top-nav,
.greedy-nav,
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 0;
    background: var(--navbar-background-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Navigation links */
.nav-container a,
.greedy-nav a {
    text-decoration: none;
    color: black !important;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-container a:hover,
.greedy-nav a:hover {
    border-bottom: 2px solid black;
}

/* Add space below the navbar */
body {
    padding-top: 65px;
}

/* ==========================================================================
   BREADCRUMB NAVIGATION
   ========================================================================== */

.breadcrumbs {
    @include container;
    @include clearfix;
    margin: 0;
    padding: 0 2em;
    font-family: $sans-serif;
    animation: intro 0.3s both 0.30s;

    @include breakpoint($large) {
        padding: 0 1em;
    }

    @include breakpoint($x-large) {
        max-width: $x-large;
    }

    ol {
        padding: 0;
        list-style: none;
        font-size: $type-size-6;

        @include breakpoint($large) {
            @include span(10 of 12 last);
        }

        @include breakpoint($x-large) {
            @include prefix(0.5 of 12);
        }
    }

    li {
        display: inline;
    }

    .current {
        font-weight: bold;
    }
}

/* ==========================================================================
   PAGINATION
   ========================================================================== */

.pagination {
    @include full();
    @include clearfix();
    margin-top: 1em;
    padding-top: 1em;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-family: $sans-serif;
    }

    li {
        float: left;
        margin-left: -1px;

        a {
            display: block;
            padding: 0.5em 1em;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            color: var(--global-text-color-light);
            border: 1px solid var(--global-border-color);
            transition: color 0.3s;

            &:hover {
                color: var(--global-link-color-hover);
            }

            &.current {
                color: #fff;
                background: var(--global-base-color);
            }

            &.disabled {
                pointer-events: none;
                cursor: not-allowed;
            }
        }

        &:first-child a {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &:last-child a {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}

/* ==========================================================================
   GREEDY NAVIGATION
   ========================================================================== */

.greedy-nav {
    position: relative;
    min-width: 250px;
    background: var(--navbar-background-color);

    a {
        display: block;
        margin: 0 1rem;
        padding: 0.5rem 0;
        color: var(--global-masthead-link-color);
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: var(--global-masthead-link-color-hover);
        }
    }

    button {
        position: absolute;
        right: 0;
        height: 2.5rem;
        padding: 0 0.5rem;
        border: none;
        background-color: var(--global-base-color);
        color: #fff;
        cursor: pointer;
        z-index: 100;
    }

    .visible-links {
        display: flex;
        align-items: center;

        li:first-child {
            font-weight: bold;
        }

        a {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 4px;
                width: 100%;
                background: var(--global-border-color);
                transform: scaleX(0);
                transition: transform 0.3s;
            }

            &:hover:before {
                transform: scaleX(1);
            }
        }
    }

    .hidden-links {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 15px;
        padding: 5px;
        border: 1px solid var(--global-border-color);
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

        a {
            padding: 10px 20px;
            font-size: $type-size-5;

            &:hover {
                background: var(--global-border-color);
            }
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: -10px;
            right: 10px;
            border-width: 0 10px 10px;
            border-style: solid;
        }

        &:before {
            border-color: var(--global-border-color) transparent;
        }

        &:after {
            border-color: #fff transparent;
        }

        li:last-child {
            border-bottom: none;
        }
    }
}
